@media(min-width:1200px) {
    .container {
        max-width: 1430px;
    }
}

/* ======================
==    End of media 1200px 
========================*/


@media(max-width:1680px) {

    
    
}

/* ======================
==    End of media 1680px 
========================*/

@media(max-width:1440px) {
    .site_header section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .section_heading_wrapper.about_content {
        padding-right: 80px !important;
        padding-left: 80px !important;
        padding-top: 110px !important;
    }

    .vc_row.testimonial_wrap {
        padding-right: 100px !important;
        padding-left: 100px !important;
    }
    
    
    
    
}

/* ======================
==    End of media 1440px 
========================*/


@media(max-width:1199px) {

    .header_menu li a {
        padding: 15px 10px;
        font-size: 14px;
        line-height: 1.3;
    }

    .header_menu li.cla_cta-btn a {
        padding: 15px !important;
        margin-left: 15px;
        font-size: 14px !important;
    }

    .section_heading_wrapper .content p {
        font-size: 16px !important;
    }

    .header_top_nav ul li.cla_cta-btn a {
        margin: 0;
    }

    .header_menu li:last-child ul {
        left: auto;
        right: 0;
    }

    .vc_row.hero_section {
        background-attachment: scroll !important;
    }

    .pix_carousel_wrapper .owl-nav {
        position: static;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 20px;
    }

    .pix_carousel_wrapper .owl-nav button {
        position: static !important;
        margin: 0 5px;
    }

    .footer_subscribe_form .ginput_container input {
        min-width: 150px;
    }

    .testimonial_carousel .owl-nav {
        position: static;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px;
    }

    .testimonial_carousel .owl-nav button {
        position: static;
        margin: 0 5px;
    }

    .about_section .vc_column_container.vc_col-sm-6 {
        width: 100%;
    }

    .about_section .wpb_single_image {
        padding-right: 0 !important;
    }

    .section_heading_wrapper.about_content {
        padding-top: 60px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        text-align: center !important;
        padding-bottom: 100px !important;
    }

    .about_section .section_heading_wrapper.text-left .title_bar::after {
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    main section:first-child {
        margin-top: 165px;
    }
    .default-page-without-sidebar .wpb-content-wrapper{
        margin-top: 0px;
    }



}

/* ======================
==    End of media 1199px 
========================*/

@media(max-width:991px) {
    
    .main_header-content nav.navbar.navbar-expand-lg {
        display: none;
    }
	
	 .header_nav_mobile_wrapper {
        display: block !important;
    }

    .header_social {
        display: none;
    }

    .header_top-content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

/*     .footer_widget_section .col-sm-6:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding-top: 35px;
    } */

    .footer_widget_section .col-lg-6 {
        text-align: left;
    }

    .footer_widget_section .footer-text {
        padding: 10px 0 0;
    }

    .footer_social .social_icon_link_list {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    .vc_row.hero_section .vc_custom_heading {
        font-size: 50px !important;
        text-align: center !important;
        color: #ffffff !important;
        margin-bottom: 15px !important;
    }

    .cla_cta-btn a,
    a.cla_cta-btn,
    .cla_cta-btn input,
    input.cla_cta-btn,
    .cla_cta-btn button,
    button.cla_cta-btn {
        padding: 15px 30px !important;
    }

    .vc_custom_heading.section_title {
        font-size: 40px !important;
    }

    .vc_row.section_padding {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .cus_list_item ul li br {
        display: none;
    }

    main section:first-child {
        margin-top: 149px;
    }

    .header_logo {
        /*      max-width: 150px; */
    }

    .hero_section .section_heading_wrapper {
        max-width: unset;
    }

    .header_menu .dropdown ul ul.dropdown-menu {
        position: static;
        opacity: 1;
        visibility: visible;
    }

    .header_menu li.cla_cta-btn a {
        margin-left: 0;
    }

    .header_top_nav {
        display: none !important;
        min-width: unset;
    }

    .header_top_nav.show {
        display: block !important;
        margin-top: 10px;
    }

    .vc_row.hero_section .vc_column-inner {
        padding-top: 0 !important;
    }

    /*  Mobile menu CSS */

    .header_nav_mobile_wrapper {
        display: block;
    }

    .mobile_menu_trigger span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .header_nav_mobile_wrapper.clicked .mobile_menu_trigger span:nth-child(2) {
        opacity: 0;
    }

    .mobile_menu_trigger {
        width: 35px;
        height: 35px;
        position: relative;
    }

    .mobile_menu_trigger span:first-child {
        -webkit-transform: translatey(-9px);
        -ms-transform: translatey(-9px);
        transform: translatey(-9px);
    }

    .mobile_menu_trigger span:last-child {
        -webkit-transform: translatey(9px);
        -ms-transform: translatey(9px);
        transform: translatey(9px);
    }

    .header_nav_mobile_wrapper.clicked .mobile_menu_trigger span:first-child {
        -webkit-transform: translatex(3.5px) rotate(-135deg);
        -ms-transform: translatex(3.5px) rotate(-135deg);
        transform: translatex(3.5px) rotate(-135deg);
        width: 35px;
    }

    .header_nav_mobile_wrapper.clicked .mobile_menu_trigger span:last-child {
        -webkit-transform: translatex(3.5px) rotate(135deg);
        -ms-transform: translatex(3.5px) rotate(135deg);
        transform: translatex(3.5px) rotate(135deg);
        width: 35px;
    }

    .main_header {
        position: relative;
    }

    .header_nav_mobile {
        position: absolute;
        left: 0;
        top: 150%;
        background: #ffffff;
        width: 100%;
        max-height: 450px;
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .header_nav_mobile_wrapper.clicked .header_nav_mobile {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }

    .header_nav_mobile ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .header_nav_mobile ul.header_menu li {
        background: #f3f3f3;
        border-bottom: 1px solid #e4e4e4;
    }

    .header_nav_mobile ul.header_menu li:last-child {
        border: none;
    }

    .header_nav_mobile ul.header_menu li ul li {
        padding: 0;
    }

    .header_nav_mobile ul li a {
        padding-left: 30px;
        display: block;
        color: #013253;
    }

    .submenu_item_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 30px;
    }

    .sub_menu_trigger {
        font-size: 20px;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .menu_item_has_child.clicked .sub_menu_trigger {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .header_nav_mobile li.menu_item_has_child ul.sub_menu {
        display: none;
        -webkit-transition: all 3s linear;
        -o-transition: all 3s linear;
        transition: all 3s linear;
    }

    .header_nav_mobile li.menu_item_has_child.clicked ul.sub_menu {
        display: block;
    }

    .header_nav_mobile ul.sub_menu li:first-child {
        border-top: 1px solid #cccccc;
    }

    .header_nav_mobile ul.sub_menu a {
        padding-left: 50px;
    }

    .header_nav_mobile ul.sub_menu ul a {
        padding-left: 70px;
    }

    .header_top-content ul {
        width: auto;
    }

    .header_top-section .header_contact {
        padding: 3px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .vc_row.hero_section::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .vc_row.tab_fullwidth .vc_column_container {
        width: 100%;
    }

    .line_text::after {
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    .vc_row.hero_section {
        z-index: 1;
    }

    .footer_subscribe_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_subscribe_form,
    .footer_subscribe_content_wrapper {
        width: 100%;
        display: block;
        text-align: center;
    }

    .footer_subscribe_form .ginput_container input {
        min-width: 150px !important;
        margin-bottom: 15px !important;
    }

    .footer_subscribe_form .cus_gform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer_content_wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .footer_content_wrapper * {
        font-size: 14px;
    }

    .title br {
        display: none;
    }

    .footer_top_cta_content p {
        padding: 0;
    }

    .content ul {
        text-align: left;
    }

    .testimonial_slides {
        text-align: center;
    }

    .testimonial_slides .author_img img {
        margin: 0 auto;
    }

    .hero_section .section_heading_wrapper h2.title {
        font-size: 36px !important;
    }

    .vc_row.cta_section {
        background: #277298 !important;
    }

    .vleadership_footer-content {
        margin-top: 15px;
    }

    .vc_row.hero_section {
        padding-top: 150px !important;
        padding-bottom: 150px !important;
    }

    .vc_row.quote_section {
        padding-bottom: 24px !important;
    }

    .contact_section .wpb_single_image {
        padding-right: 0 !important;
        margin-bottom: 48px !important;
    }

    .contact_section .cus_gform .gform_footer {
        text-align: center;
    }

    .hero_video_section .section_heading_wrapper {
        position: static;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        background: #1a304f;
    }

    .hero_video_section .section_heading_wrapper .title {
        font-size: 48px !important;
        margin-bottom: 20px !important;
    }


    .mobile_nav_trigger {
        display: flex;
        align-items: center;
    }

    .mobile_nav_trigger .cart-cta {
        margin: 0 16px 0 0;
    }

    .mobile_nav_trigger {
        display: flex;
    }
    
.header_top_navs .header_menu li a {
    padding: 4px;
}

.header_top_navs .header_menu {
    display: flex !important;
    flex-direction: revert;
}
    
.header_nav_mobile .cart-cta {
    display: none;
}




.post-16 .tab_fullwidth .vc_custom_1693337378806 {
    padding-right: 10px !important;
    padding-left: 20px !important;
}



}

/* ======================
==    End of media 991px 
========================*/


@media(max-width:767px) {
    .about_sec .vc_custom_1693550139269{
        padding-left: 20px !important;
    }
    .header_top-content ul {
        text-align: center;
        display: block;
    }

    .header_top-content ul li {
        margin: 5px 0;
        font-size: 12px;
        display: block;
    }

    .header_contact ul li p a {
        font-size: 13px;
    }

    .vc_row.section_padding {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .main_footer .footer_widget_section {
        padding: 60px 0 35px !important;
    }

    .footer_widget_section .col-sm-6:first-child {
        padding-top: 0;
    }

    .footer_widget_section .col-sm-6:last-child {
        padding-top: 15px;
        padding-left: 15px;
    }
	
	.camtheme_footer-content {
		margin-bottom: 40px;
	}

    .footer_quick_links .list-item a {
        margin-bottom: 5px !important;
    }

    .footer-bottom-section .copyright-text {
        font-size: 14px !important;
    }

    .copyright_content {
        display: block;
    }

    .copyright_content span {
        display: inline-block;
    }

    body {
        line-height: 1.5;
    }

    .cus_gform .gform_button {
        width: auto !important;
    }

    .header_top-content,
    .site_header.shrink-header .header_top-content {
        padding: 5px 0;
    }

    .title.section_title {
        font-size: 30px !important;
    }

    .title.section_title {
        font-size: 30px !important;
    }

    .inner_content_wrapper img.alignright,
    .inner_content_wrapper img.aligncenter,
    .inner_content_wrapper img.alignleft {
        float: none;
        width: 100%;
        margin: 15px 0 25px;
    }

    .inner_content_wrapper .title {
        font-size: 26px !important;
    }

    .inner_content_wrapper h4 {
        font-size: 20px;
    }

    .vc_row.inner_banner_section {
        padding: 100px 0 60px !important;
    }

    .header_top-content ul li {
        font-size: 14px;
    }

    .title-header h2 {
        font-size: 24px;
    }

    .header_top-content ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header_contact.navbar ul {
        max-width: 200px;
    }

    .header_top-content ul li p {
        text-align: left;
    }

    .header_nav_mobile {
        max-height: 350px;
    }

    .header_nav_mobile ul li a {
        padding-left: 15px;
    }

    .submenu_item_wrapper {
        padding-right: 5px;
    }

    .header_nav_mobile ul.sub_menu a {
        padding-left: 30px;
    }

    .header_nav_mobile ul.header_menu li.cla_cta-btn {
        padding: 15px;
    }

    .header_top-section .header_contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header_contact.navbar ul {
        max-width: none;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header_top-content ul li {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 10px;
    }

    .footer_subscribe_content_wrapper h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .footer_subscribe_form .ginput_container input {
        min-width: 280px !important;
        margin: 0 !important;
    }

    .footer_subscribe_form .gform_footer {
        padding: 0 !important;
    }

    .footer_subscribe_content {
        padding: 30px 15px 15px 15px;
    }

    .vleadership_footer-content {
        margin-top: 20px;
    }

    main section:first-child {
        margin-top: 112px;
    }

    .footer_top_cta_content {
        padding: 30px 15px;
    }

    .header_top-content ul li:last-child {
        /*      display: none; */
    }

    .header_contact.navbar ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .inner_page_hero_content {
        font-size: 28px;
    }

    .inner_page_hero_section {
        padding: 60px 0;
    }

    .service_section .wpb_text_column p {
        text-align: center;
    }

    .hero_section .section_heading_wrapper h2.title {
        font-size: 28px !important;
    }

    .team-member-modal .modal-dialog {
        min-width: unset;
    }

    .team-member-modal .modal-body {
        padding: 20px 15px;
    }

    .vc_row.hero_section .title {
        font-size: 36px !important;
    }

    .testimonial_slides {
        padding: 20px 15px;
    }

    .contact_section iframe {
        height: 250px !important;
    }

    .header_logo {
        max-width: 200px;
    }

    .title.title_bar {
        font-size: 32px !important;
    }

    .vc_row.service_section {
        padding-bottom: 100px !important;
    }

    .quote_section .title.title_bar {
        font-size: 24px !important;
    }

    .vc_row.process_section {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .vc_row.testimonial_wrap {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .vc_row.testimonial_section {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .section_heading_wrapper.text-left .title_bar::after {
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    .hero_video_section .section_heading_wrapper {
        padding: 24px 15px 36px 15px;
    }

    .hero_video_section .section_heading_wrapper .title {
        font-size: 36px !important;
    }

    .site_header {
        background: rgba(0, 0, 0, 1);
    }

	.md-margin-top a {
		margin-top: 30px;
	}




}

/* ======================
==    End of media 767px 
========================*/


@media(max-width:360px) {}

/* ======================
==    End of media 360px 
========================*/